#propick .App-Bar {
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: gray;
    /* background-color: #009BFF; */
}

#propick .App-Bar a:hover {
    color: #c10000;
    /* background-color: #009BFF; */
}
/* @media (min-height: 1366px){
    .info-bg {
        height: unset !important;
    }
} */

@media (min-width: 940px) {
    #propick-info .section-height {
        height: 650px !important;
    }
    #howgood .section-height {
        height: 500px !important;
    }
    #howto .section-height {
        height: 600px !important;
    }
    .left-info-panel {
        padding-right: 20px !important;
    }
    .right-info-panel {
        padding-top: 10px;
        height: 600px !important;
    }
    .right-info-panel img {
        width: 80% !important;
        height: 110% !important;
        z-index: 10;
    }
    .info-detail p {
        padding-top: 20px;
        /* padding-left: 60px;
        padding-right: 60px; */
        text-align: center;
        /* color: rgb(255, 255, 255); */
        font-size: 20px;
        justify-content: center;
    }
    .propick-logo-download {
        height: 100px !important;
        margin-bottom: 10px !important;
    }
    .propick-logo-download img {
        /* margin-top: 50px !important; */
        width: 100%;
        height: 80%;
        position: relative;
    }
    .propick-logo {
        width: 100%;
        height: 50%;
    }
    .howto-head p {
        font-size: 6rem !important;
        text-align: center;
        /* padding-left: 50px; */
        /* padding-bottom: 30px; */
        font-weight: 400;
        color: white !important;
        text-transform: uppercase;
    }
    .service-head p {
        padding-top: 30px !important;
        font-size: 6rem !important;
        text-align: center;
        /* padding-left: 120px; */
        padding-bottom: 30px;
        text-transform: uppercase;
        color: #009BFF !important;
    }
    .howgood p {
        /* padding-top: 30px !important; */
        font-size: 6rem !important;
        text-align: center;
        /* padding-left: 60px; */
        text-transform: uppercase;
    }
    .howgood-row-height-name {
        height: 200px;
        padding-top: 30px;
    }
    .howgood-row-height-detail {
        height: 200px;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .howgood-detail .head p {
        font-size: 5rem;
        color: #009BFF;
        font-family: 'SukhumvitSet-Text', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
    }
    .howgood-detail span {
        content: "";
        position: absolute;
        width: 40px;
        left: 43%;
        height: 4px;
        background: rgb(252, 119, 35);
    }
    .title p {
        padding-top: 20px;
        font-size: 5rem;
        color: #324158;
        font-family: 'SukhumvitSet-Text', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
    }
    .service-item {
        height: 300px !important;
        padding-top: 30px;
    }
    .howto-padding {
        padding-top: 10px;
    }
    #formCalculate img {
        margin-top: 20px;
        margin-right: 20px;
        height: 70px;
    }
    .deliveryCalculate-info {
        background-position: center no-repeat !important;
        /* background-size: cover; */
        width: 100%;
        height: 400px;
    }
    .service-detail h3 {
        background-color: rgb(252, 119, 35);
        position: absolute;
        /* bottom: 0px; */
        margin-top: 0px;
        left: 0px;
        right: 0;
        line-height: 50px;
        color: #FFF;
    }
    .propick-logo-download img {
        margin-top: 30px;
        width: 100%;
        height: 80%;
        position: relative;
    }
    #delivery-button {
        padding-top: 20px;
        padding-left: 100px;
    }
    .qrcode-propick {
        width: 50%;
        height: 50%;
    }
    #contactus img {
        width: 50% !important;
    }

    #propick-info .propick-info-bg{
        background-position: no-repeat center center !important;
        background-size: 100% 100%;
        width: auto !important;
        height: 100vh !important;
    }

    .info-bg {
        background-position: no-repeat center center !important;
        background-size: 100% 100%;
        width: auto !important;
        height: 100vh;
    }

    .client img {
        max-width: 100% !important;
        max-height: 100%;
        display: block;
        margin: 0 auto;
    }

    #howwork .howwork-content {
        background-size: cover;
        width: 100% ;
        min-height: unset !important;
        height: 410px !important;
    }
}

.right-info-panel {
    padding-top: 10px;
    padding-bottom: 10px;
}

.right-info-panel img {
    width: 80% !important;
    /* height: 100%; */
}

.propick-section-header {
    margin-top: 0 !important;
    padding-bottom: 0px;
    padding-top: 30px;
    color: #454545;
}

.propick-section-header .section-title {
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;
    font-family: 'SukhumvitSet-Medium';
    font-weight: 600;
}

.propick-section-header .section-title:before {
    content: "";
    position: absolute;
    width: 140px;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
    height: 2px;
    background: #009BFF;
}

.propick-section-header .section-title:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -11px;
    left: 50%;
    margin-left: -12px;
    border: 5px solid #fff;
    border-radius: 20px;
    background: #009BFF;
}

#propick-info .propick-info-bg {
    background-position: no-repeat center center;
    background-size: 100% 100%;
    width: auto ;
    z-index: -1;
    height: unset;
}

.info-bg {
    /* background-color: #009BFF; */
    /* position: relative; */
    background-position: no-repeat center center;
    background-size: 100% 100%;
    width: auto ;
    /* opacity: 0.8; */
    z-index: -1;
    height: unset;
}

.howgood-bg {
    background-color: #FFF;
}

.howgood-detail .head p {
    font-size: 5rem;
    color: #009BFF;
    font-family: 'SukhumvitSet-Text', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

#howgood .head-mobile span{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
#howgood .head-mobile .head{
    color: #009BFF;
    text-align: right;
}

#howgood .head-mobile .title{
    color: #324158;
    
}

.title p {
    padding-top: 20px;
    font-size: 4rem;
    color: #324158;
    font-family: 'SukhumvitSet-Text', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.howwork-bg {
    background-color: rgb(187, 187, 187);
}

#howwork .howwork-content {
    background-size: cover;
    width: 100% ;
    min-height: 210px;
    height: unset;

}
.propick-service-bg {
    background-color: rgb(255, 255, 255);
}

.howto-bg {
    background-color: #009BFF;
}

.contactus-bg {
    background-color: #324158;
}

#contactus img {
    width: 30% ;
}

.propick-logo-download {
    height: 60px;
    margin-bottom: 20px;
}

.propick-logo-download img {
    margin-top: 30px;
    width: 80%;
    height: 60%;
    position: relative;
}

.propick-logo {
    width: 100%;
    height: 50%;
}

.propick-logo img {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100px;
    height: 100%;
    position: relative;
}

.info-detail p {
    text-align: center;
    font-size: 30px;
    justify-content: center;
}


/* 
.howgood {
   position: absolute;
} */

.howgood p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: xx-large;
    color: #009BFF;
    font-weight: 600;
    font-family: 'SukhumvitSet-Text', sans-serif;
    text-transform: uppercase;
    border: solid rgb(252, 119, 35);
}

.howto-head p {
    padding-top: 20px !important;
    padding-bottom: 20px;
    font-size: xx-large;
    color: #fff;
    font-weight: 600;
    font-family: 'SukhumvitSet-Text', sans-serif;
    text-transform: uppercase;
    border: solid rgb(255, 255, 255);
}

.howgood-row-height-detail {
    padding-bottom: 20px;
}

.service-head p {
    margin-top: 10px;
    padding-top: 20px !important;
    padding-bottom: 20px;
    font-size: xx-large;
    color: #009BFF;
    ;
    font-weight: 600;
    font-family: 'SukhumvitSet-Text', sans-serif;
    text-transform: uppercase;
    border: solid rgb(252, 119, 35);
}

.service-detail {
    position: relative;
    display: inline-block;
    border-radius: 15px 15px 0 0;
    border: 1px solid rgb(255, 255, 255);
}

.service-detail img {
    max-width: 100%;
    /* border-radius: 15px 15px 0 0; */
}

.service-detail h3 {
    background-color: rgb(252, 119, 35);
    /* position: absolute; */
    /* bottom: 0px; */
    margin-top: 0px;
    left: 0px;
    right: 0;
    line-height: 50px;
    color: #FFF;
    /* border-radius: 0 0 25px 25px; */
    /* border: 2px solid rgb(255, 255, 255); */
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
}

.service-item {
    background-position: center no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    border-radius: 2px;
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      transition: box-shadow .25s; */
    overflow: hidden;
}

.service-item .slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}

.service-item .slider-inner .btn {
    position: absolute;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px !important;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0px;
}

.service-item .slider-inner .btn.btn-primary {
    padding: 10px 46px;
    font-size: 18px;
}

.service-item .slider-inner .btn.btn-primary:hover, .service-item .slider-inner .btn.btn-primary:focus {
    background: #00BFFF;
}

.client img {
    max-width: 50%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.image-gallery {
    /* padding-top: 0px; */
    /* padding-bottom: 30px; */
    position: relative;
    display: inline-block;
    background-size: 100% 100%
}

.image-gallery .carousel-inner .item {
    padding-left: 20px;
    padding-right: 20px;
}

.image-gallery .carousel-inner .item img {
    width: 100%;
    height: 100%;
    /* border:2px solid rgb(175, 175, 175); 
    border-radius:0px; */
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0.5) 100%);
}

.carousel-control.right {
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0.5) 100%);
}

.carousel-control {
    color: rgb(255, 255, 255);
    width: unset;
}


/* .carousel {
      padding-bottom: 30px;
  } */

#formCalculate {
    padding-top: 30px;
    padding-bottom: 30px;
}

#map {
    padding-left: 0px;
    padding-right: 0px;
}

#calculate {
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(196, 196, 196);
    margin-bottom: 20px;
    /* background-color: #009BFF; */
}

#calculate row {
    padding-left: 5px;
    padding-right: 5px;
    /* background-color: #009BFF; */
}


/* #delivery {
    background: rgb(241, 241, 241);
} */

#delivery .btn.btn-warning {
    background-color: rgb(252, 119, 35) !important;
    border-color: rgb(252, 119, 35) !important;
}

#delivery .btn.btn-warning:hover {
    background-color: rgb(255, 151, 32) !important;
    border-color: rgb(255, 151, 32) !important;
}

#delivery-button {
    padding-top: 20px;
}

#term-propick .App-Bar {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: gray;
    /* background-color: #009BFF; */
}

#privacy-propick .App-Bar {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: gray;
    /* background-color: #009BFF; */
}

#term-propick .navbar.navbar-default {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    background: #40b4ff;
}

#privacy-propick .navbar.navbar-default {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    background: #40b4ff;
}

#service .card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 5px;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
    background: rgb(252, 119, 35);
}

#service .card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

#service .card-title {
    padding: 10px;
    font-weight: 400;
    font-size: 1.4em;
}

#service .card-item {
    width: auto;
    height: 200px;
}

#service .card-body p {
    font-size: 30px;
    color: #FFF;
}